@font-face {
  font-family: 'Orbitron';
  src: url(../assets/fonts/Orbitron-Regular.ttf);
}

@font-face {
  font-family: 'Orbitron-Medium';
  src: url(../assets/fonts/Orbitron-Medium.ttf);
}

@font-face {
  font-family: 'Orbitron-Black';
  src: url(../assets/fonts/Orbitron-Black.ttf);
}

@font-face {
  font-family: 'Orbitron-Bold';
  src: url(../assets/fonts/Orbitron-Bold.ttf);
}

@media (min-width: 1400px) {
  .container{
    width:1370px;
    margin: 0 auto;
  }
}

ul li, li{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}

button:focus{
  outline: 0 !important;
}

input[type="submit"]:focus{
  outline: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/iconfont/MaterialIcons-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  font-family: "Orbitron-Black", Roboto;
  line-height: 1.8;
}

p{
  font-family: "Orbitron";
}

.navbar-toggle{
  background-color: #ddd;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.gutters-50.row{
  margin-right: -25px;
  margin-left: -25px;
}

.gutters-50 > [class^="col-"]{
  padding-right: 25px;
  padding-left: 25px;
}

.gutters-100.row{
  margin-right: -50px;
  margin-left: -50px;
}

.gutters-100 > [class^="col-"]{
  padding-right: 50px;
  padding-left: 50px;
}

.header--bg{
  background: url("../assets/images/782649.png") top center no-repeat;
  background-size: cover;
}

.header .nav li{
  padding-right: 25px;
}

.header .nav li:last-child{
  padding-right: 0;
}

.header .nav li a{
  font-size: 13px;
  color: #0084ff;
  background: transparent;
}

.header .nav li a:hover{
  color: #0053ff;
}

.header .navbar{
  padding-top: 30px;
}

.header .navbar .navbar-brand{
  padding: 15px 0px;
}

.header__content{
  padding-top: 200px;
  margin-bottom: 200px;
}

.header__content .title{
  color: rgba(0, 0, 0, 0.84);
  font-size: 59px;
  text-shadow: 0px 0px 6px rgb(0, 174, 255);
  margin-bottom: 50px;
}

.header__content .video-title{
  display: inline-block;
  background: url("../assets/images/play-icon.png") left center no-repeat;
  padding: 20px;
  margin-top: 100px;
}

.header__content .video-title h4{
  font-size: 13px;
  color: rgba(0, 192, 255, 0.7);
  padding-left: 70px;
}

.header .button{
  margin-left: 20px;
  margin-right: 20px;
}

.header .header__language{
  margin-bottom: 40px;

}

.header .header__language select{
  font-family: 'Orbitron';
  font-size: 13px;
  color: #fff;
  outline: 0;
  background: transparent;
  border: none;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 18px 2px 2px;
  border: none;
  background: url("../assets/images/dropdown-arrow.png") no-repeat right center;
}

.header .header__language select option{
  background-color: gray;
}

#myModal{
  background: rgba(0, 0, 0, 0.8);
}

#myModal .close{
  background: rgba(255,64,134, 1) !important;
  z-index: 890;
  color: #fff;
  font-size: 24px;
  margin: 0;
  outline: none;
  opacity: 1;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  width: 28px;
  height: 28px;
}

#myModal .modal-body{
  padding: 0;
}

#myModal .embed-responsive {
  height: 489px;
  padding: 0;
  overflow: hidden;
}

.button{
  display: inline-block;
  font-size: 13px;
  color: #00deff;
  -webkit-transform: skewX(35deg);
  transform: skewX(35deg);
  padding: 15px 40px;
  border: 2px solid  rgb(0, 158, 255);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgb(0, 158, 255);
  box-shadow: 0 0 10px rgb(0, 158, 255);
}

.button:hover{
  background: -webkit-linear-gradient( 135deg, rgba(0,252,255, .7) 0%, rgba(7,44,255, .7) 100%);
  color: #00deff;
}

.button--news{
  padding: 15px 60px;
}

.button-text{
  -webkit-transform: skewX(-35deg);
  transform: skewX(-35deg);
}

.button--form{
  background: transparent;
  border: 0;
}

.header-bottom--bg{
  background: url("../assets/images/header-bottom-background.png") left center no-repeat;
  background-size: cover;
}

.header-bottom .nav-pills>li.active>a{
  background-color: transparent;
}

.header-bottom .nav-pills>li>a{
  padding: 0px 15px;
}

.header-bottom .nav-pills>li>a:hover{
  background-color: transparent;
}

.header-bottom .menu .parallelogram{
  background: 0;
}

.header-bottom .menu .parallelogram .parallelogram-child{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-bottom .nav-pills>li.active .parallelogram{
  background: #284aea;
}

.header-bottom .nav-pills>li.active .parallelogram-child{
  background: #061E37;
}

.header-bottom-wrapper{
  padding-bottom: 80px;
}

.header-bottom-type{
  margin-top: 8px;
}

.header-bottom-type select{
  font-family: 'Orbitron';
  font-size: 13px;
  color: #fff;
  outline: 0;
  background: transparent;
  border: none;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 18px 2px 2px;
  border: none;
  background: url("../assets/images/dropdown-arrow.png") no-repeat right center;
}

.header-bottom-type select option{
  background-color: #0084FF;
}

.header-bottom-single{
  width: 400px;
  position: relative;
  margin-bottom: 70px;
}

@media (max-width: 1399px){

  .header-bottom-single{
    width: auto
  }
}

@media (max-width: 991px){

  .header-bottom-single{
    width: 400px;
    margin-right: auto;
    margin-left: auto
  }
}

.header-bottom-single-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 8, 41, 76, .4 );
}

.header-bottom-single-overlay h3{
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  padding-top: 40px !important;
  font-size: 15px;
  color: #00deff;
  padding: 0px 20px;
  width: 100%;
  height: 120px;
  background: url("../assets/images/shape.png") center center no-repeat;
  padding-top: 30px;
}

.overview--bg{
  background-color: #050E27;
}

.overview .menu{
  margin-bottom: 0;
}

.overview .nav-pills>li.active>a{
  background-color: transparent;
}

.overview .nav-pills>li>a{
  padding: 0px 15px;
}

.overview .nav-pills>li>a:hover{
  background-color: transparent;
}

.overview .menu .parallelogram{
  background: 0;
}

.overview .menu .parallelogram .parallelogram-child{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.overview .nav-pills>li.active .parallelogram{
  background: #284aea;
}

.overview .nav-pills>li.active .parallelogram-child{
  background: #061E37;
}

.overview__keyValue dt{
  float: left;
  clear: left;
  /*text-align: right;*/
  width: 40%;
  /*width: 160px;*/
  font-family: 'Orbitron-Medium';
  font-size: 15px;
  color: #4f5d85;
  margin-bottom: 15px;
  margin-top: 15px;
}

.overview__keyValue dd{
  float: left;
  font-family: 'Orbitron';
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.overview__keyValue dd:hover{
  color: #00deff;
}

.overview__keyValue-seperator{
  float: right;
  margin-right: 30px;
}

@media(max-width: 991px){
  .overview-image{
    margin-right: auto;
    margin-left: auto;
  }
}

.overview__paragraph{
  border-left: 1px solid #1B233C;
  margin-top: 40px;
  padding-left: 50px;
  max-height: 170px;
}

@media(max-width: 1199px){
  .overview__paragraph{
    border-left: 0;
  }
}

@media(max-width: 700px){
  .overview__paragraph{
    margin-top: 20px;
    max-height: 300px;
  }
}

.overview__paragraph p{
  font-size: 13px;
  color: #b5bfda;
  margin-bottom: 40px;
}

.news{
  padding-bottom: 80px;
}

.news--bg{
  background: url("../assets/images/news-background.png") left center no-repeat;
  background-size: cover;
}

.news__image{
  position: relative;
  margin-bottom: 50px;
}

.news__image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 12, 23, 133, .4 );
  border-radius: 5px;
}

.news__image-overlay h2{
  font-family: 'Orbitron-Medium';
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  background: url("../assets/images/news-title-background.png") bottom center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 32px 30px 30px
}

.news__large img{
  width: 800px;
  height: 350px;
}

.news__small img{
  width: 100%;
}

.news__small .news__image-overlay{
  background: none;
}

.news__small h2{
  font-size: 13px;
  padding: 30px 15px 15px 15px;
}

.menu {
  background: #0083ff;
  margin-bottom: 50px;
}

.menu .parallelogram {
  width: 143px;
  height: 43px;
  background: #284aea;
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  text-align: center;
  color: #fff;
  padding: 0;
  padding-left: 8px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.menu .parallelogram-child {
  width: 130px;
  /* height: 49px; */
  background: #0083ff;
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  text-align: center;
  color: #fff;
  padding: 10px 3px;
  -webkit-box-shadow: 0 0 6px 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 6px 4px rgba(0,0,0,0.4);
}

.menu .parallelogram-child .text {
  -webkit-transform: skew(-36deg);
  transform: skew(-36deg);
  font-size: 13px;
  color: #fff;
}

.menu .parallelogram-child .color{
  color: #050e27;
}

.form--bg{
  background-color: rgb( 6, 30, 55 );
}

.form form{
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form__button{
  display: inline-block;
  background-color: #0084FF;
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
}

.form__button input{
  padding: 11px 50px;
  font-size: 15px;
  color: #fff;
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}

.form .form-group{
  margin-bottom: 30px;
}

.form .form-group .form__input{
  font-size: 13px;
  outline: 0;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #6D8093 1px;
  padding: 10px 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}

.form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 13px;
  font-family: 'Orbitron';
  color: #fff;
}

.form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 font-size: 13px;
 font-family: 'Orbitron';
 color: #fff;
}

.form ::-moz-placeholder { /* Mozilla Firefox 19+ */
 font-size: 13px;
 font-family: 'Orbitron';
 color: #fff;
}

.form :-ms-input-placeholder { /* Internet Explorer 10-11 */
 font-size: 13px;
 font-family: 'Orbitron';
 color: #fff;
}

.form ::-ms-input-placeholder { /* Microsoft Edge */
 font-size: 13px;
 font-family: 'Orbitron';
 color: #fff;
}

.footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer--bg{
  background-color: rgb( 2, 12, 23 );
}

.footer__title{
  font-family: 'Orbitron-Bold';
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
}

.footer p{
  font-size: 10px;
  color: #90a2b5;
  margin-bottom: 20px;
}

.footer .social-icons li{
  display: inline-block;
}

.footer .social-icons li a{
  color: #90A2B5;
}
